---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=1e4a60c0&t=&type=&y=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 10 Jul 2020 16:07:14 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"False","Error":"Something went wrong."}'
  recorded_at: Fri, 10 Jul 2020 16:07:14 GMT
[...]
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=1e4a60c0&t=batman&type=&y=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 10 Jul 2020 16:44:24 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Batman","Year":"1989","Rated":"PG-13","Released":"23 Jun
        1989","Runtime":"126 min","Genre":"Action, Adventure","Director":"Tim Burton","Writer":"Bob
        Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren
        Skaaren (screenplay)","Actors":"Michael Keaton, Jack Nicholson, Kim Basinger,
        Robert Wuhl","Plot":"The Dark Knight of Gotham City begins his war on crime
        with his first major enemy being Jack Napier, a criminal who becomes the clownishly
        homicidal Joker.","Language":"English, French, Spanish","Country":"USA, UK","Awards":"Won
        1 Oscar. Another 8 wins & 26 nominations.","Poster":"https://m.media-amazon.com/images/M/MV5BMTYwNjAyODIyMF5BMl5BanBnXkFtZTYwNDMwMDk2._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"7.5/10"},{"Source":"Rotten Tomatoes","Value":"71%"},{"Source":"Metacritic","Value":"69/100"}],"Metascore":"69","imdbRating":"7.5","imdbVotes":"329,552","imdbID":"tt0096895","Type":"movie","DVD":"25
        Mar 1997","BoxOffice":"N/A","Production":"Warner Bros. Pictures","Website":"N/A","Response":"True"}'
  recorded_at: Fri, 10 Jul 2020 17:27:59 GMT
recorded_with: VCR 6.0.0
